<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="En conjunto con direfentes profesionales, se creo este espacio de consulta e interaccion, con el objetivo de educar, prevenir y concientizar sobre el cancer de mama">
    <meta name="keywords"content="galeria, imagenes, cancer, mama">
    <link rel="shortcut icon" href="./../img/favicon-16x16.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="./../assets/css/estilo.css">
    <link href="https://fonts.googleapis.com/css2?family=Merienda&family=Montserrat:ital,wght@1,100;1,200;1,300&family=Parisienne&display=swap" rel="stylesheet">
    <title>Galeria</title>
</head>
<body>
    
    

  <header class="fondoNav">  
    <nav class="navbar navbar-expand-lg navbar-light bg-transparen">
        <a class="navbar-brand" href="./../index.html">
          <img src="./../img/lgo4.png" width="30" height="30" class="d-inline-block align-top" alt="iconoCa">
          Preveni, tocate
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse barraDerecha" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="./../index.html#nosotros">Nosotros <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./galeria.html">Galeria</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Notas
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="./nota1.html">Dalia Gutmann se confiesa</a>
                <a class="dropdown-item" href="./nota2.html">No tengamos miedo.</a>
                <a class="dropdown-item" href="./nota4.html">3 Jovenes derriban 5 mitos.</a>
                <a class="dropdown-item" href="./nota3.html">Concientización sobre el Cáncer de Mama</a>
              </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./contacto.html">Contacto</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-secondary donar" href="./donar.html" role="button">Donar</a>
            </li>
          </ul>
        </div>
      </nav>
  </header>

    <section class="encabezado container">
        <h1 class="encabezado__titulo">
            Galeria
        </h1>
        
    </section>
    

    <section id="galeriaCompleta">

        <div class="galeria">
            <a class="galeria__link" href="" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                <img class="galeria__img" src="./../img/galeria/pexels-anna-tarazevich-5482975.jpg" alt="Dos chichas muestran 2 listones rosas">
            </a>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    
                    <div class="modal-body">
                        <img class="modal__img" src="./../img/galeria/pexels-anna-tarazevich-5482975.jpg" alt="Dos chichas muestran 2 listones rosas">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

        
            <a class="galeria__link" href="" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModa2">
                <img class="galeria__img" src="./../img/galeria/pexels-anna-tarazevich-5482986.jpg" alt="Dos chicas abrazadas, con liston rosa en la mano">
            </a>
            <div class="modal fade" id="exampleModa2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    
                    <div class="modal-body">
                        <img class="modal__img" src="./../img/galeria/pexels-anna-tarazevich-5482986.jpg" alt="Dos chicas abrazadas, con liston rosa en la mano">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>


            <a class="galeria__link" href="" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModa3">
                <img class="galeria__img" src="./../img/galeria/pexels-anna-tarazevich-5483008.jpg" alt="Chica muestra un liston rosa cerca de su mama">
            </a>
            <div class="modal fade" id="exampleModa3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    
                    <div class="modal-body">
                        <img class="modal__img" src="./../img/galeria/pexels-anna-tarazevich-5483008.jpg" alt="Chica muestra un liston rosa cerca de su mama">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

        
            <a class="galeria__link" href="" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModa4">
                <img class="galeria__img" src="./../img/galeria/pexels-anna-tarazevich-5483014.jpg" alt="Chica muestra un liston rosa sobre su pecho">
            </a>
            <div class="modal fade" id="exampleModa4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    
                    <div class="modal-body">
                        <img class="modal__img" src="./../img/galeria/pexels-anna-tarazevich-5483014.jpg" alt="Chica muestra un liston rosa sobre su pecho">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>


            <a class="galeria__link" href="" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModa5">
                <img class="galeria__img" src="./../img/galeria/pexels-anna-tarazevich-5482993.jpg" alt="Liston rosa sobre una mama ">
            </a>
            <div class="modal fade" id="exampleModa5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    
                    <div class="modal-body">
                        <img class="modal__img" src="./../img/galeria/pexels-anna-tarazevich-5482993.jpg" alt="Liston rosa sobre una mama">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>


            <a class="galeria__link" href="" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModa6">
                <img class="galeria__img" src="./../img/galeria/pexels-cottonbro-5700929.jpg" alt="Cupcake con decoraciones de diferentes pezonesn incluido uno con referencia a una mastectomia">
            </a>
            <div class="modal fade" id="exampleModa6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    
                    <div class="modal-body">
                        <img class="modal__img" src="./../img/galeria/pexels-cottonbro-5700929.jpg" alt="Cupcake con decoraciones de diferentes pezonesn incluido uno con referencia a una mastectomia">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

        
            <a class="galeria__link" href="" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModa7">
                <img class="galeria__img" src="./../img/galeria/pexels-cottonbro-5701008.jpg" alt="Tarjetas con diferente estilos de mamas y pezones.">
            </a>
            <div class="modal fade" id="exampleModa7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    
                    <div class="modal-body">
                        <img class="modal__img" src="./../img/galeria/pexels-cottonbro-5701008.jpg" alt="Tarjetas con diferente estilos de mamas y pezones.">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

        
            <a class="galeria__link" href="" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModa8">
                <img class="galeria__img" src="./../img/galeria/pexels-cottonbro-5701081.jpg" alt="Mamas tejidas al crochet con una mano posada sobre una">
            </a>
            <div class="modal fade" id="exampleModa8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    
                    <div class="modal-body">
                        <img class="modal__img" src="./../img/galeria/pexels-cottonbro-5701081.jpg" alt="Mamas tejidas al crochet con una mano posada sobre una">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>


            <a class="galeria__link" href="" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModa9">
                <img class="galeria__img" src="./../img/galeria/pexels-cottonbro-5701082.jpg" alt="Mamas tejidas al crochet con una mano posada sobre pezon">
            </a>
            <div class="modal fade" id="exampleModa9" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    
                    <div class="modal-body">
                        <img class="modal__img" src="./../img/galeria/pexels-cottonbro-5701082.jpg" alt="Mamas tejidas al crochet con una mano posada sobre pezon">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>


            <a class="galeria__link" href="" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal10">
                <img class="galeria__img" src="./../img/galeria/pexels-cottonbro-5701248.jpg" alt="Globo rosa donde se observa la boquilla">
            </a>
            <div class="modal fade" id="exampleModal10" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    
                    <div class="modal-body">
                        <img class="modal__img" src="./../img/galeria/pexels-cottonbro-5701248.jpg" alt="Globo rosa donde se observa la boquilla">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

        
            <a class="galeria__link" href="" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal11">
                <img class="galeria__img" src="./../img/galeria/pexels-cottonbro-5701652.jpg" alt="Persona que tiene puesta una remera rosa con un dibujo de una mama">
            </a>
            <div class="modal fade" id="exampleModal11" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    
                    <div class="modal-body">
                        <img class="modal__img" src="./../img/galeria/pexels-cottonbro-5701652.jpg" alt="Persona que tiene puesta una remera rosa con un dibujo de una mama">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

        
            <a class="galeria__link" href="" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal12">
                <img class="galeria__img" src="./../img/galeria/pexels-cottonbro-5701658.jpg" alt="Chica sonriendo la cual tiene puesta una remera rosa con un dibujo de una mama">
            </a>
            <div class="modal fade" id="exampleModal12" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    
                    <div class="modal-body">
                        <img class="modal__img" src="./../img/galeria/pexels-cottonbro-5701658.jpg" alt="Chica sonriendo la cual tiene puesta una remera rosa con un dibujo de una mama">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>


            <a class="galeria__link" href="" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal13">
                <img class="galeria__img" src="./../img/galeria/pexels-klaus-nielsen-6303696.jpg" alt="Persona que sostiene un cartel con la leyenda Let's be aware ">
            </a>
            <div class="modal fade" id="exampleModal13" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    
                    <div class="modal-body">
                        <img class="modal__img" src="./../img/galeria/pexels-klaus-nielsen-6303696.jpg" alt="Persona que sostiene un cartel con la leyenda Let's be aware">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

        
            <a class="galeria__link" href="" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal14">
                <img class="galeria__img" src="./../img/galeria/pexels-klaus-nielsen-6303785.jpg" alt="Mujer sonriendo que sosotiene un liston rosa">
            </a>
            <div class="modal fade" id="exampleModal14" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    
                    <div class="modal-body">
                        <img class="modal__img" src="./../img/galeria/pexels-klaus-nielsen-6303785.jpg" alt="Mujer sontiendo que sosotiene un liston rosa">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>

        
    </section>
    



    <footer class="pie">
      <p class="pie__nota">
          2021-Todos los derechos reservados
      </p>
    </footer>

    <footer>
      <div class="fixed-bottom flotDerecha">
        <button type="button" class="btn btn-info flotColor" data-toggle="modal" data-target="#exampleModal">
          Aqui puedes hacer tus chequeos anuales
        </button>
      </div>
  
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mapaCentrado">
              <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.4679101499437!2d-58.56918545492511!3d-34.64288429199532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc7efd4f3bae5%3A0x7fd72c66e6f31cc2!2sDIM%20MUJER!5e0!3m2!1ses-419!2sar!4v1620061439024!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
  </footer>
    

    <!-- SCRIPTS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

</body>
</html>