<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="En conjunto con direfentes profesionales, se creo este espacio de consulta e interaccion, con el objetivo de educar, prevenir y concientizar sobre el cancer de mama">
    <meta name="keywords"content="nota, experiencia, prevencion, mitos, cancer, mama">
    <link rel="shortcut icon" href="./../img/favicon-16x16.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="./../assets/css/estilo.css">
    <link href="https://fonts.googleapis.com/css2?family=Merienda&family=Montserrat:ital,wght@1,100;1,200;1,300&family=Parisienne&display=swap" rel="stylesheet">
    <title>Preveni, Toacate</title>
</head>
<body>
    
    

      
    <header class="fondoNav">    
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <a class="navbar-brand" href="./../index.html">
          <img src="./../img/lgo4.png" width="30" height="30" class="d-inline-block align-top" alt="">
          Prevení, tócate
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse barraDerecha" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="./../index.html#nosotros">Nosotros <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./galeria.html">Galeria</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Notas
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="./nota1.html">Dalia Gutmann se confiesa</a>
                <a class="dropdown-item" href="./nota2.html">No tengamos miedo.</a>
                <a class="dropdown-item" href="./nota3.html">3 Jovenes derriban 5 mitos.</a>
                <a class="dropdown-item" href="./nota4.html">Concientización sobre el Cáncer de Mama</a>
              </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./contacto.html">Contacto</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-secondary donar" href="./donar.html" role="button">Donar</a>
            </li>
          </ul>
        </div>
      </nav>
    </header> 


    <section class="encabezado container">
        <h2 class="encabezado__titulo encabezado__titulo--nota">
            3 jóvenes enfermas de cáncer derriban  5 mitos sobre la enfermedad
        </h2>
        
    </section>
    

    <section class="nota container">
        <div class="imagenEnNota">
            <img class="imagenEnNota__img" src="../img/3chicas.jpg" alt="Fotografia de 3 mujeres">
        </div>
        <h1 class="nota__adelanto">
           (De izquierda a derecha) Rachel Bland es presentadora de noticias de BBC Radio 5 y lleva un año en tratamiento por un cáncer de pecho recurrente; Deborah James es una madre de 35 años con cáncer intestinal en fase 4; y Lauren Mahon, que era ya una exitosa bloguera cuando la diagnosticaron con cáncer a los 31 años.
        </h1>
        <h3 class="nota__destacado">
            "Uno de cada 10 nuevos casos de cáncer diagnosticados en el país son a personas de 25 a 49 años". 
        </h3>
        <p class="nota__parrafo">
            <b class="nota__parrafo nota__parrafo--negrita">Tus mejores amigas, tus hijas y tus madres; somos como tú pero con células más raras".</b> Así se describen Rachel, Deborah y Lauren, tres jóvenes británicas que tuvieron que lidiar con el cáncer en la treintena y ahora presentan juntas un podcast de la BBC llamado "Tú, yo y la Gran C".
        </p>
        <p class="nota__parrafo">
            En sus entregas semanales abordan aspectos de esta temida enfermedad desde la experiencia personal, con honestidad y con mucho humor. Estos son los cinco mitos sobre el cáncer que derribaron en su última charla, contados a través de sus citas.
        </p class="nota__parrafo">
        <h3 class="nota__destacado">
            Mito 1: siempre se te caerá el pelo
        </h3>
        <p class="nota__parrafo">
            <b>Deborah:</b> Cuando me dijeron que tenía cáncer en fase 4 no dije "Dios mío, voy a morir"; dije "voy a perder el pelo". Un gran mito para mi sobre el cáncer es que no siempre pierdes el pelo. Depende de los medicamentos, y yo soy muy afortunada de haber conservado el pelo hasta ahora. Si cambio de medicinas quizás lo pierda. Pero no todo el mundo que tiene cáncer está calvo.
        </p>
        <p class="nota__parrafo">
            <b>Rachel:</b> Esa fue mi primera pregunta también

        </p>

        <p class="nota__parrafo">
           <b>Rachel:</b> Así me pasó a mí también. No es tan inusual. Yo uso algo que se llama un gorro frío que me ha ayudado a conservar el pelo. Es un gorro que te pones en la cabeza y tiene algo refrigerante que enfría tu cuero cabelludo, así que evita que los medicamentos de la quimioterapia entren en las capas más superficiales de los folículos capilares.

        </p>

        <p class="nota__parrafo">
           <b>Lauren:</b> Yo también usé el gorro pero aún así perdí bastante pelo. Cuando me lavé el cabello por primera vez (después del tratamiento) literalmente se lo llevó el agua. Ese momento en el que ves cómo tu cuerpo se desmorona... es aterrador. Pero a pesar de eso, tenía mucho pelo. Al salir de la ducha vi que tenía una zona calva en la parte de arriba de mi cabeza, pero lo demás seguía allí. Lo que pasa con el gorro es que se pega en algunas partes y en otras no. Durante mi tratamiento vi que me quedé bastante calva en la parte de arriba, por el medio. El resto del cabello se volvió más fino.

        </p>
        <h3 class="nota__destacado">
            Mito 2: la gente joven no tiene cáncer
        </h3>
        <p class="nota__parrafo">
           <b>Lauren:</b> A mí me apasiona este tema. Yo sentí desde el día en que me diagnosticaron, a los 31, que no hablamos de esta enfermedad de una manera abierta, normal. Y siendo joven, nunca estuvo en mi radar que debería preocuparme por algún síntoma, porque te sientes invencible. Caminas por la vida como si fueras superman o superwoman, ¿no?
        </p>
        <p class="nota__parrafo">
           <b>Rachel:</b> Nunca piensas que te va a pasar a ti... Según cifras de la organización británica de investigación Cancer Research UK, el cáncer ya no es solo una enfermedad para los mayores. Dicen que "uno de cada 10 nuevos casos de cáncer diagnosticados en el país son a personas de 25 a 49 años". Y en este grupo de edad, hay el doble de mujeres que hombres
        </p>
        <p class="nota__parrafo">
            <b>Lauren:</b> Nunca, es algo que le pasa a otra gente, ¿verdad? Pero sí, le pasa a la gente joven. A muchos los diagnostican. Hay como un vacío en el medio: hay muchas organizaciones de apoyo contra el cáncer para los niños y para los adolescentes y después todas las demás... No es que sean para viejos, pero están orientadas a gente que está en una fase de la vida más avanzada y los desafíos son diferentes para las personas que tienen 20, 30 o 40 años.
        </p>
        <p class="nota__parrafo">
           <b>Deborah:</b> Y ese es el problema, cuando estás fuera del rango típico de edad, cuando no encajas en el molde de tu cáncer. En mi caso, tengo un cáncer que aparentemente los jóvenes no tienen.
        </p>
        <h3 class="nota__destacado">
            Mito 3: todos los cánceres son iguales
        </h3>
        <p class="nota__parrafo">
           <b>Lauren:</b> Hay tantos tipos y cada uno tiene sus propios nichos, sus cambios y sus mutaciones.
        </p>
        <p class="nota__parrafo">
           <b>Rachel:</b> Hay además distintos tratamientos, distintos tipos de quimioterapia y de inmunoterapia.
        </p>
        <p class="nota__parrafo">
           <b>Deborah:</b> Te acabas convirtiendo en un experto en tu propio campo, ¿verdad?
        </p>
        <p class="nota__parrafo">
           <b>Lauren:</b> Yo descubrí que la medicación que me van a dar, que me provocará una menopausia temprana, se la dan también a los pacientes de cáncer de próstata. Yo ahora estoy fascinada con la información sobre otros cánceres también. Ojalá no tuviéramos que hablar de esta enfermedad, pero ahora cuando lo hago, sobre las distintas fases, sobre lo que me pasó a mí, sobre lo que hace cada medicamento, veo que estoy realmente fascinada con la información, es increíble. Tengo mucho respeto por la medicina y por todas las cosas nuevas que están averiguando constantemente.

        </p>
        <h3 class="nota__destacado">
            Mito 4: hay una cura pero se está ocultando deliberadamente
        </h3>
        <p class="nota__parrafo">
           <b>Rachel:</b> Esto es algo que odiamos todas, ese mito de que las grandes compañías farmacéuticas están escondiendo la cura para el cáncer porque no pueden sacarle rendimiento y no sé qué más... Creo que podemos decir que ninguna de nosotras se lo cree. La sola idea de pensar que toda esa gente que me trató, que trabaja en el sector cuidando de pacientes como nosotras y que están intentando mantenernos vivas, están, al mismo tiempo, escondiendo una cura y diciendo "No, voy a dejar que esta mamá se muera porque no estamos haciendo dinero" es ridícula.
        </p>
        <p class="nota__parrafo">
           <b>Lauren:</b> Así es y te digo por qué. Suele ser la gente que no ha tenido cáncer la que expresa ese punto de vista. Cuando estás en una sala y te dicen que tienes cáncer, te tomas lo que sea que te den. Y yo sé desde lo profundo de mi corazón, que me trataron con los mejores medicamentos que me podían dar.
        </p>
        <p class="nota__parrafo">
           <b>Deborah:</b> Yo creo que los oncólogos son tan apasionados por lo que hacen que si hubiera una cura mágica harían lo imposible para dárnosla. Sí, el dinero forma parte de todo, pero ese es otro tema. Aquí estamos hablando de vidas humanas. Más que que se esté ocultando deliberadamente una cura lo que pasa es que el elevado costo de las medicinas, y los recortes en la sanidad pública, tienen un impacto real sobre las vidas de la gente. Los tratamientos que recibes en la sanidad pública de Reino Unido son una lotería que depende del código postal de tu casa y del hospital que te toque.
        </p>
        <h3 class="nota__destacado">
            Mito 5: el cáncer es una sentencia de muerte
        </h3>
        <p class="nota__parrafo">
           <b>Lauren:</b> A mi me dijeron que "estoy curada" -lo digo entre comillas-, pero yo creo que recién ahora la gente está empezando a darse cuenta de que el cáncer en fase 4 no es necesariamente terminal. En fase 4 puedes pasarte la vida entera y puedes tener una buena vida.
        </p>
        <p class="nota__parrafo">
           <b>Rachel:</b> Dejemos claro que son dos cosas diferentes. El cáncer incurable en fase 4 no es lo mismo que el cáncer terminal.
        </p>
        <p class="nota__parrafo">
           <b>Deborah:</b> En mi situación mi objetivo es alargarlo tanto como pueda... ¡hasta que llegue una cura milagrosa! Seamos honestos, en algún momento los oncólogos, que no dan rodeos, tendrán que tener esa charla seria conmigo. Dirán "hemos hecho todo lo que podemos hacer". Pero yo no quiero que nadie piense "tengo cáncer, automáticamente voy a morir", porque la gente sí salta así de lo uno a lo otro. Aunque yo sí he perdido a gente que fue diagnosticada a la vez que yo y con el mismo tipo de cáncer. Eso sí lo he visto. Pero tenemos esperanza.
        </p>
    </section>
    
    
    <section id="noticias" >

        <div class="container-fluid">
          <div class="row">
  
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="notaTarjeta" >
                <img class="notaTarjeta__img" src="./../img/dalia2.jpg" alt="">
                <h3 class="notaTarjeta__titulo">
                  Dalia Gutmann se confiesa
                </h3>
               <p class="notaTarjeta__parrafo">
                  La actriz reveló cómo fue el proceso que inició en 2015. Sus “ganas de vivir tremendas” y el rol de Sebastián Wainraich
                </p>
                <a class="notaTarjeta__links" href="./../views/nota1.html">
                  Leer Mas
                </a>
               </div>
            </div>
  
  
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="notaTarjeta">
                <img class="notaTarjeta__img" src="./../img/calistoneschico.jpg" alt="Tres listones rosas de diferentes tamaños">
                <h3 class="notaTarjeta__titulo">
                    No tengamos miedo.
                </h3>
                <p class="notaTarjeta__parrafo">
                    La panelista habló de toda su experiencia con la enfermedad y se refirió a la importancia de un examen precoz
                </p>
                <a class="notaTarjeta__links" href="./../views/nota2.html">
                    Leer Mas
                </a>
              </div>
            </div>
  
  
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="notaTarjeta">
                <img class="notaTarjeta__img" src="./../img/cicatrizca.jpg" alt="Mujer de pie que expone su cicatriz, posterior a una mastectomia">
                <h3 class="notaTarjeta__titulo">
                    Concientización sobre el Cáncer de Mama:
                </h3>
                <p class="notaTarjeta__parrafo">
                  Es el cáncer de mayor incidencia en mujeres y la principal causa de muerte por cáncer en mujeres.
                </p>
                <a class="notaTarjeta__links" href="./../views/nota4.html">
                    Leer Mas
                </a>
              </div>
            </div>
  
  
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="notaTarjeta">
                <img class="notaTarjeta__img" src="./../img/3chicas.jpg" alt="Fotografia de 3 mujeres">
                <h3 class="notaTarjeta__titulo">
                    3 Jovenes derriban 5 mitos.
                </h3>
                <p class="notaTarjeta__parrafo">
                    Somos como tú pero con células más raras". Así se describen Rachel, Deborah y Lauren, tres jóvenes británicas.
                </p>
                <a class="notaTarjeta__links" href="./../views/nota3.html">
                    Leer Mas
                </a>
              </div>
            </div>
  
          </div>
        </div>
    </section>



    <footer class="pie">
      <p class="pie__nota">
          2021-Todos los derechos reservados
      </p>
    </footer>

    <footer>
      <div class="fixed-bottom flotDerecha">
        <button type="button" class="btn btn-info flotColor" data-toggle="modal" data-target="#exampleModal">
          Aqui puedes hacer tus chequeos anuales
        </button>
      </div>
  
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mapaCentrado">
              <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.4679101499437!2d-58.56918545492511!3d-34.64288429199532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc7efd4f3bae5%3A0x7fd72c66e6f31cc2!2sDIM%20MUJER!5e0!3m2!1ses-419!2sar!4v1620061439024!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
  </footer>

    <!-- SCRIPTS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

    
</body>
</html>