<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="En conjunto con direfentes profesionales, se creo este espacio de consulta e interaccion, con el objetivo de educar, prevenir y concientizar sobre el cancer de mama">
    <meta name="keywords"content="nota, experiencia, prevencion, mes, concientizacion, cancer, mama">
    <link rel="shortcut icon" href="./../img/favicon-16x16.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="./../assets/css/estilo.css">
    <link href="https://fonts.googleapis.com/css2?family=Merienda&family=Montserrat:ital,wght@1,100;1,200;1,300&family=Parisienne&display=swap" rel="stylesheet">
    <title>Preveni, Toacate</title>
</head>
<body>
    
    

      
    <header class="fondoNav">    
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <a class="navbar-brand" href="./../index.html">
          <img src="./../img/lgo4.png" width="30" height="30" class="d-inline-block align-top" alt="">
          Preveni, tocate
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse barraDerecha" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="./../index.html#nosotros">Nosotros <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./galeria.html">Galeria</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Notas
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="./nota1.html">Dalia Gutmann se confiesa</a>
                <a class="dropdown-item" href="./nota2.html">No tengamos miedo.</a>
                <a class="dropdown-item" href="./nota3.html">3 Jovenes derriban 5 mitos.</a>
                <a class="dropdown-item" href="./nota4.html">Concientización sobre el Cáncer de Mama</a>
              </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./contacto.html">Contacto</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-secondary donar" href="./donar.html" role="button">Donar</a>
            </li>
            
          </ul>
        </div>
      </nav>
    </header> 



    <section class="encabezado container">
        <h2 class="encabezado__titulo encabezado__titulo--nota ">
            Mes de la Concientización sobre el Cáncer de Mama: 
        </h2>
        
    </section>
    

    <section class="nota container">
        <h1 class="nota__adelanto">
            Es el cáncer de mayor incidencia en mujeres y la principal causa de muerte por cáncer en mujeres. Las últimas cifras sobre consultas y estudios alarman a los especialistas
        </h1>
        <h3 class="nota__destacado">
            Los chequeos de rutina cayeron hasta un 70% en la Argentina
        </h3>
        <p class="nota__parrafo">
            Según destaca la Sociedad Argentina de Mastología (SAMAS), el cáncer de mama es el de mayor incidencia en mujeres y la principal causa de muerte por cáncer en mujeres en la Argentina. Luego de Uruguay, el país posee la tasa de mortalidad más alta de Latinoamérica, ocasionando alrededor de 6 mil muertes por año.
        </p>
        <p class="nota__parrafo">
            Resulta imprescindible realizar estudios periódicos, ya que son fundamentales para una detección temprana. Asimismo, de esta forma también se pueden aumentar las posibilidades de cura. Los datos hablan por sí solos. Este año, los chequeos de rutina cayeron hasta 70% según explica la Sociedad Argentina de Mastología
        </p>
        <div class="imagenEnNota">
            <img class="imagenEnNota__img" src="./../img/cicatrizca.jpg" alt="Mujer de pie que expone su cicatriz, posterior a una mastectomia">
        </div>
        <p class="nota__parrafo">
            Si se tiene en cuenta que <b class="nota__parrafo nota__parrafo--negrita">el 90% de los casos detectados a tiempo se curan,</b> la disminución de la tasa de controles en este 2020 plantea a futuro un escenario preocupante para los especialistas. Es decir, un tiempo prolongado con menor cantidad de chequeos preventivos podría aumentar los casos de cáncer de mama diagnosticados en etapas más avanzadas.
        </p>
        <p class="nota__parrafo">
            Al igual que el COVID-19, muchas mujeres que padecen la enfermedad suelen ser asintomáticas. En esa línea, existen distintos tipos de cáncer de mama, en general, un tumor podría tardar hasta 2 años en hacerse palpable. Sin embargo, otros crecen rápidamente.

        </p>
        <h3 class="nota__destacado">
            Chequeos anuales
        </h3>
        <p class="nota__parrafo">
            Desde la década del 70, la Argentina cuenta con la herramienta para realizar los controles: la mamografía. Este estudio que se practica anualmente en pacientes demostró la disminución en un 30% de la mortalidad por cáncer de mama. Uno de los mitos desterrados por la Sociedad Argentina de Mastología es que las dosis de radiación pueden generar la enfermedad, ya que son muy bajas y no producen cáncer de mama ni de otro órgano.
        </p>

        <p class="nota__parrafo">
            La mamografía, que suele llevarse a cabo por primera vez después de los 40 años o, antes, si la persona tiene factores de riesgo, puede no ser la única herramienta, ya que en las mamas más densas puede disminuir la sensibilidad. En muchas pacientes puede combinarse con estudios adicionales como la ecografía mamaria y técnicas mamográficas complementarias para mayor precisión al momento del diagnóstico.
        </p>
        <p class="nota__parrafo">
            Una detección temprana, junto a un chequeo en casa y una consulta al profesional pueden detectar la enfermedad a tiempo y aumentar las posibilidades de cura.
        </p>
       <h3 class="nota__destacado">
        Tu salud también es esencial. No pospongas tus chequeos.
       </h3>
    </section>
    
    
    <section id="noticias" >

      <div class="container-fluid">
        <div class="row">

          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="notaTarjeta" >
              <img class="notaTarjeta__img" src="./../img/dalia2.jpg" alt="Foto de Dalia Gutmann">
              <h3 class="notaTarjeta__titulo">
                Dalia Gutmann se confiesa
              </h3>
             <p class="notaTarjeta__parrafo">
                La actriz reveló cómo fue el proceso que inició en 2015. Sus “ganas de vivir tremendas” y el rol de Sebastián Wainraich
              </p>
              <a class="notaTarjeta__links" href="./../views/nota1.html">
                Leer Mas
              </a>
             </div>
          </div>


          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="notaTarjeta">
              <img class="notaTarjeta__img" src="./../img/calistoneschico.jpg" alt="Tres listones rosas de diferentes tamaños">
              <h3 class="notaTarjeta__titulo">
                  No tengamos miedo.
              </h3>
              <p class="notaTarjeta__parrafo">
                  La panelista habló de toda su experiencia con la enfermedad y se refirió a la importancia de un examen precoz
              </p>
              <a class="notaTarjeta__links" href="./../views/nota2.html">
                  Leer Mas
              </a>
            </div>
          </div>


          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="notaTarjeta">
              <img class="notaTarjeta__img" src="./../img/cicatrizca.jpg" alt="Mujer de pie que expone su cicatriz, posterior a una mastectomia">
              <h3 class="notaTarjeta__titulo">
                  Concientización sobre el Cáncer de Mama:
              </h3>
              <p class="notaTarjeta__parrafo">
                Es el cáncer de mayor incidencia en mujeres y la principal causa de muerte por cáncer en mujeres.
              </p>
              <a class="notaTarjeta__links" href="./../views/nota4.html">
                  Leer Mas
              </a>
            </div>
          </div>


          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="notaTarjeta">
              <img class="notaTarjeta__img" src="./../img/3chicas.jpg" alt="Fotografia de 3 mujeres">
              <h3 class="notaTarjeta__titulo">
                  3 Jovenes derriban 5 mitos.
              </h3>
              <p class="notaTarjeta__parrafo">
                  Somos como tú pero con células más raras". Así se describen Rachel, Deborah y Lauren, tres jóvenes británicas.
              </p>
              <a class="notaTarjeta__links" href="./../views/nota3.html">
                  Leer Mas
              </a>
            </div>
          </div>

        </div>
      </div>
    </section>



    <footer class="pie">
      <p class="pie__nota">
          2021-Todos los derechos reservados
      </p>
    </footer>

    <footer>
      <div class="fixed-bottom flotDerecha">
        <button type="button" class="btn btn-info flotColor" data-toggle="modal" data-target="#exampleModal">
          Aqui puedes hacer tus chequeos anuales
        </button>
      </div>
  
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mapaCentrado">
              <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.4679101499437!2d-58.56918545492511!3d-34.64288429199532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc7efd4f3bae5%3A0x7fd72c66e6f31cc2!2sDIM%20MUJER!5e0!3m2!1ses-419!2sar!4v1620061439024!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
  </footer>
    
 <!-- SCRIPTS -->
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
 

</body>
</html>