<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="En conjunto con direfentes profesionales, se creo este espacio de consulta e interaccion, con el objetivo de educar, prevenir y concientizar sobre el cancer de mama">
    <meta name="keywords"content="nota, experiencia, prevencion, dalia, gutmann">
    <link rel="shortcut icon" href="./img/favicon-16x16.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="./../assets/css/estilo.css">
    <link href="https://fonts.googleapis.com/css2?family=Merienda&family=Montserrat:ital,wght@1,100;1,200;1,300&family=Parisienne&display=swap" rel="stylesheet">
    <title>Preveni, Toacate</title>
</head>
<body>
    
    

    <header class="fondoNav">    
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <a class="navbar-brand" href="./../index.html">
          <img src="./../img/lgo4.png" width="30" height="30" class="d-inline-block align-top" alt="">
          Preveni, tocate
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse barraDerecha" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="./../index.html#nosotros">Nosotros <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./galeria.html">Galeria</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Notas
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="./nota1.html">Dalia Gutmann se confiesa</a>
                <a class="dropdown-item" href="./nota2.html">No tengamos miedo.</a>
                <a class="dropdown-item" href="./nota3.html">3 Jovenes derriban 5 mitos.</a>
                <a class="dropdown-item" href="./nota4.html">Concientización sobre el Cáncer de Mama</a>
              </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./contacto.html">Contacto</a>
            </li>
            
          </ul>
        </div>
      </nav>
    </header>  

    <section class="encabezado container">
        <h2 class="encabezado__titulo encabezado__titulo--nota ">
            Dalia Gutmann contó por primera vez que tuvo cáncer de mama: 
        </h2>
        
    </section>

    

    <section class="nota container">
        <h1 class="nota__adelanto ">
            La actriz reveló cómo fue el proceso que inició en 2015, cuando estaba de gira por Perú. Sus “ganas de vivir tremendas” y el rol de Sebastián Wainraich
        </h1>
        <h3 class="nota__destacado">
            “Lloraba pesando ‘Tengo mil cosas que hacer...’”
        </h3>
        <p class="nota__parrafo">
            Al salir de la consulta con el médico, Dalia Gutmann envió un mensaje al grupo de WhatsApp que comparte con sus amigas más íntimas. Esa noche tenía función y necesitaba que la orientaran. “¿La hago?”, les preguntó. “Y... ¡sí! ¿Te vas a quedar llorando en la cama?”, recibió como respuesta. Horas después se ubicó frente a su público en el escenario, como ya lo había hecho infinidad de veces. Ninguno de los espectadores que ese viernes de 2015 rieron a carcajadas con Dalia sabían de la noticia que la comediante había recibido ese día: el tumor que le habían encontrado era maligno.
        </p>
        <p class="nota__parrafo">
            Recién hoy -fines de octubre de 2020, es decir, cinco años después- se están enterando. Dalia nunca antes habló de aquella batalla que libró a espaldas de su vida pública contra el cáncer de mama, pero al lado de quienes la aman: aquellas amigas incondicionales (“Me acompañaron mucho”, destaca), pero también su pareja, Sebastián Wainraich, y su familiares. “Nunca lo conté públicamente porque nadie me lo preguntó, no porque me daba vergüenza, ni porque lo quiero ocultar -le explicó a Catalina Dlugi, en una entrevista para su programa Agarrate Catalina, de La Once Diez-. Sí me interesa comunicar que la saqué muy barata porque lo agarré a tiempo”
        </p>
        <p class="nota__parrafo">
            Un lustro atrás, Gutmann se hallaba en Perú.<b class="nota__parrafo nota__parrafo--negrita"> “Fui a trabajar, y me toqué un bultito en la teta -recordó-.</b> primero que hice (al volver) fue ir a revisarme: era un tumor maligno. Me operaron y me lo sacaron. Después hice todo el tratamiento que hay que hacer después, y tomo la medicación que hay que tomar después de algo así”.
        </p>
        <p class="nota__parrafo">
            Días atrás la actriz (de 42 años) quedó conmovida cuando -invitada por Juana Viale en el programa de Mirtha Legrand en El Trece- escuchó el relato de Julia Zenko sobre una experiencia similar. Pero nada dijo sobre su propia situación. “Me emocionó el relato de cómo Julia se puso a cantar en el quirófano -confesó-. Yo tengo un recuerdo del quirófano muy emocionante porque tenía un hijo muy chiquitito, y unas ganas de vivir tremendas. Y lloraba pensando: ‘Tengo mil cosas para hacer...’".

        </p>

        <div class="imagenEnNota">
            <img class="imagenEnNota__img" src="../img/dalia.jpg" alt="Foto de Dalia Gutmann">
        </div>
    
        <p class="nota__parrafo">
                Dalia habla de “una película, de un drama que no terminaba nunca”, de “una porquería que no está bueno atravesar porque es muy angustiante". Pero enseguida, <b class="nota__parrafo nota__parrafo--negrita">advierte que el cáncer de mama “es algo de la vida que le toca a muchas personas: a una de cada ocho mujeres en el mundo.</b> Y no hay que transitarlo con vergüenza, sino de una manera más natural".
        </p>
        
        <p class="nota__parrafo">
            Por eso, acerca un mensaje positivo: “Lo mejor es poder capitalizar todo lo que a uno le va pasando en la vida, y hacerse más fuerte. A veces no se puede. Pero estoy convencida de que por cada obstáculo hay algo para aprender. Tengo una mirada positiva de la vida, y a veces parezco un poco cursi y romántica, pero pensé: ‘Acá tengo que aprender algo’”. Y en ese sentido, sostiene que ayuda mucho “cuando hay una aceptación”.
        </p>
        <p class="nota__parrafo">
            ¿Y Wainraich? “Él es muy compañero -dice Gutmann, hasta con orgullo-. Si lo tengo que describir, digo que es un pibe muy sólido. Él es recontra de estar ahí y acompañar. Me tuve que operar dos veces, y las dos veces que me desperté de la anestesia, él estaba al lado mío. Y siempre con mucha esperanza y optimismo de que iba a estar todo bien”.
        </p>
        <p class="nota__parrafo">
            Dalia Gutmann concluye su relato con un consejo para todas las mujeres: <b class="nota__parrafo nota__parrafo--negrita">“No te hagas la boluda cuando te aparece algo en el cuerpo. A veces vivimos tan aceleradas que encontramos una bolita y pensamos que va a desaparecer. Y es como: ‘No te hagas el gil’. Porque después te da cualpa: ‘¡Qué boluda! ¿Cómo me colgué con esto?’".</b>
        </p>
       
    </section>
    
    
    <section id="noticias" >

      <div class="container-fluid">
        <div class="row">

          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="notaTarjeta" >
              <img class="notaTarjeta__img" src="./../img/dalia2.jpg" alt="Foto de Dalia Gutmann">
              <h3 class="notaTarjeta__titulo">
                Dalia Gutmann se confiesa
              </h3>
             <p class="notaTarjeta__parrafo">
                La actriz reveló cómo fue el proceso que inició en 2015. Sus “ganas de vivir tremendas” y el rol de Sebastián Wainraich
              </p>
              <a class="notaTarjeta__links" href="./../views/nota1.html">
                Leer Mas
              </a>
             </div>
          </div>


          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="notaTarjeta">
              <img class="notaTarjeta__img" src="./../img/calistoneschico.jpg" alt="Tres listones rosas de diferentes tamaños">
              <h3 class="notaTarjeta__titulo">
                  No tengamos miedo.
              </h3>
              <p class="notaTarjeta__parrafo">
                  La panelista habló de toda su experiencia con la enfermedad y se refirió a la importancia de un examen precoz
              </p>
              <a class="notaTarjeta__links" href="./../views/nota2.html">
                  Leer Mas
              </a>
            </div>
          </div>


          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="notaTarjeta">
              <img class="notaTarjeta__img" src="./../img/cicatrizca.jpg" alt="Mujer de pie que expone su cicatriz, posterior a una mastectomia">
              <h3 class="notaTarjeta__titulo">
                  Concientización sobre el Cáncer de Mama:
              </h3>
              <p class="notaTarjeta__parrafo">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, distinctio animi!
              </p>
              <a class="notaTarjeta__links" href="./../views/nota4.html">
                  Leer Mas
              </a>
            </div>
          </div>


          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="notaTarjeta">
              <img class="notaTarjeta__img" src="./../img/3chicas.jpg" alt="Fotografia de 3 mujeres">
              <h3 class="notaTarjeta__titulo">
                  3 Jovenes derriban 5 mitos.
              </h3>
              <p class="notaTarjeta__parrafo">
                  Somos como tú pero con células más raras". Así se describen Rachel, Deborah y Lauren, tres jóvenes británicas.
              </p>
              <a class="notaTarjeta__links" href="./../views/nota3.html">
                  Leer Mas
              </a>
            </div>
          </div>

        </div>
      </div>
    </section>
    


    <footer class="pie">
        <p class="pie__nota">
            2021-Todos los derechos reservados
        </p>
    </footer>

     <!-- SCRIPTS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

    
</body>
</html>